{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand ml-lg-3">
                <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa-solid fa-melon-slice"></i>Meron</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <!-- <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a> -->
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">Calorie Calculator</h1>
            <!-- <h1 class="text-white display-3 mb-5">Logistics Services</h1> -->
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <form action="result" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="input-group">                        
                            <input type="text" placeholder="Dish Name" name="input_dish_name" class="form-control border-light"  style="padding: 30px;" value="{{ result }}" />
                            <label class="my_label btn btn-primary px-3 js-open" style="padding-top:13px; padding-bottom:13px;">
                                <div>
                                <i class="fa-solid fa-camera fa-2x" style = "display: table-cell; vertical-align: middle; border-spacing: 3px 0;"></i>
                                </div>
                            </label>
                            <div class="input-group-append">
                                <button class="btn btn-primary px-3" type="submit">Search</button>
                            </div>


                    </div>
                <!-- </form> -->
                        <div id="overlay" class="overlay" ></div>
                        <!-- モーダルウィンドウ -->
                        <div class="modal-window" style="margin-top: 30px;">
                            <div id="QDMvGf" class="S6U6Pd" style="background:white; padding-top:30px; height:130px; top: 176px; width: 100%; display: block;">
                                <div id="Ax54rd" class="WHWWB">
                                    <div class="YgiJIe">画像で検索</div>
                                    <div id="dt8swb"></div>
                                </div>
                                    <div id="fpbnK">
                                        <!-- <form action="result" method="post" enctype="multipart/form-data">{% csrf_token %} -->
                                            <div id="FQt3Wc" style="display: block;">
                                                <div id="kFWkgf" class="thCpXb">
                                                    <input accept=".jpg, .png, .jpeg" name="dish_pic" style="margin:7px 4px;" type="file">
                                                </div>
                                            </div>
                                        <!-- </form> -->
                                    </div>
                                </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Header End -->


    {% if eiyoso is not none %}
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h1 class="mb-4">Calculate Result</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h5 class="text-white font-weight-medium m-0">Calorie</h5>
                    </div>
                    <!-- <h4>{{ eiyouso.Kcal }}Kcal</h4> -->
                    <div style="display:flex; justify-content:center;">
                        <h1 class="text-primary mb-2" data-toggle="counter-up" >{{ eiyouso.Kcal }}</h1>
                        <h6 class="font-weight-bold mb-4" style="justify-content:center;">Kcal</h6>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h5 class="text-white font-weight-medium m-0">Protein</h5>
                    </div>
                    <div style="display:flex; justify-content:center;">
                        <h1 class="text-primary mb-2" data-toggle="counter-up" >{{ eiyouso.Protein }}</h1>
                        <h6 class="font-weight-bold mb-4" style="justify-content:center;">g</h6>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h5 class="text-white font-weight-medium m-0">Lipid</h5>
                    </div>
                    <div style="display:flex; justify-content:center;">
                        <h1 class="text-primary mb-2" data-toggle="counter-up" >{{ eiyouso.Lipids }}</h1>
                        <h6 class="font-weight-bold mb-4" style="justify-content:center;">g</h6>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h5 class="text-white font-weight-medium m-0">Carbohydrate</h5>
                    </div>
                    <div style="display:flex; justify-content:center;">
                        <h1 class="text-primary mb-2" data-toggle="counter-up" >{{ eiyoso.Carbohydrate }}</h1>
                        <h6 class="font-weight-bold mb-4" style="justify-content:center;">g</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <center>
    <div class="my_food_wrapper">
        <div class="col-md-4 mb-5 my_food_container">
            <div class="bg-secondary">
                <div class="bg-primary text-center p-4">
                    <h3 class="m-0">Foodstuff</h3>
                </div>
                <div class="d-flex flex-column align-items-center py-4">
                    {% for zairyo in zairyos %}
                        <p>{{zairyo.zairyo}}:{{zairyo.amount}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </center>
    {% endif %}

{% endblock %}


